<h2>Produtos</h2>
<div class="products">
  {{#each products}}
    <div class="product">
      <img src="{{this.thumbnail}}" alt="{{this.title}}" />
      <div class="product-info">
        <p class="product-title">{{this.title}}</p>
        <p class="product-price">R$ {{this.price}}</p>
        <button
          class="add-to-cart"
          onclick="addToCart('{{this._id}}', '{{this.title}}', {{this.price}})"
        >Adicionar ao Carrinho</button>
      </div>
    </div>
  {{/each}}
</div>

<h2>Carrinho</h2>
<div id="cart"></div>

<script src="/assets/js/cart.js"></script>